@font-face{
    font-family: mija;
    src: url(./Mija_Bold-webfont-subset-v2.woff2);
}
h1{
    font-size: 100px;
    font-weight: normal;
    font-family: cursive;
}
h1 span::nth-child(1) {
    color: red;
}