.blur_photo {
    filter: blur(10px);
}
.blur_photo:hover {
    filter: none;
}
.bright_photo {
    filter: brightness(90%);
}

.contrast_photo {
    filter: contrast(120%);
}
.dropshadow_photo {
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 1));
}