h1{
    font-size: 50px;
    color:brown
}
h2 {
    font-size: 100px;
    color:rgb(220, 205, 205)

}
h3 {
    font-size: 30px;
}
#special_heading {
    color:aquamarine;
    text-decoration: underline;
}
.danger_text {
    color: red;
 font-style: italic;


}
input[type="text"]{
    border: 1px solid rgb(38, 15, 188);
}
input[value="submit"] {
    background-color: green;
}
input[value="reset"] {
    background-color: yellow;
}
input[type="button"]{
    font-size: 20px;
}
input[type="button"]{
    padding: 15px;
}
input[placeholder="Name"]{
    border:2px solid blueviolet;
}
h1, h2, h3, h4, input, button {
    text-transform: uppercase;
}
input[type="button"]:hover, button:hover {
    background-color: red;
    font-weight: bolder;
}
input[type="text"]:focus  {
    border: 5px solid red;
    outline: none;
}
    
    