/* Author:Bhuwan Khatri
Email: khatribhuwan055@gmail.com
Copyright:Skillup Labs
Last updated:5th April 2024
 */
 *{
    margin: 0;
    padding: 0;
 }
h1{
    font-size: 100px;
    color: brown;
}
h2{
    font-size: 50px;
    color: blue;
}
#special_heading{
    color: aqua;
    text-decoration: underline;
}
h3{
    color: aqua;
    font-size: 30px;
}
h3.danger_text{
    color: red;
    font-style: italic;
}
input[type="text" ]{
    border: 1px solid red;
}
input[ value="submit" ] {
    background-color:rgb(145, 189, 145);
}
input[ value="reset" ] {
    background-color:rgb(161, 161, 115);
}
input[type="button"]{
    font-size: 25px;
}
input.submit_button{
    color: aqua;
}
input[placeholder="Enter your email"]{
    border: 2px solid greenyellow;
}
h1, h2, h3, h4, h5, h6, input {
    text-transform: uppercase;
}
input[type="button"]:hover, button:hover{
    background-color: red;
    font-weight: bold;
    
}
input[type="button"]:focus, button:focus{
    border: 5px solid red;
    
}
input[type="text"]:focus{
    border: 5px solid red;
    outline: none;
}
.no_color{
    color: black !important;
}
inpot[type+"search"]{
    font-size: 30px;
    padding: 15px;
    right: 15px;
    top: 15px;

}
.fancy_text{
    content: "";
    border: 1px solid red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}