@font-face {
    font-family: Mija;
    src: url('./fonts/Mija_Bold-webfont-subset-v2.woff2');
}

h1 {
    font-size: 6em;
    font-family: Mija, Arial, sans-serif;
    font-weight: 200;
    color: magenta;
    letter-spacing: 20px;
    word-spacing: 50px;

}
h1 span:nth-child(1) {
    color: red;
    font-family: cursive;
    font-style: italic;
    text-shadow: 10px 10px 3px darkslateblue; 

}
h1 span:nth-child(2) {
    color: green;
    font-weight: bold;
    text-shadow: 4px 4px 5px hotpink;

}
h2 {
    font-size: 100px;
    font-family: Mija, Arial, sans-serif;
    font-weight: 200;
    color: blue;

}
p {
    font-size: 20px;
    line-height: 6;
    text-decoration: overline;
    text-align: right;
    background-color: aquamarine;
    color: maroon;
    text-transform: uppercase;
    word-spacing: 15px;
    text-transform:  revert;

}
code {
    font-family: Mija;
    font-size: 10px;
}



