.box{
    width: 50%;
    height: 500px;
    border: 5px solid red;
    padding: 20px 30px 15px 10px;
    margin: 0px;
    box-sizing: border-box;
    float: left;
}
.parent{
    width: 70%;
    margin:0 auto;
}