@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('./reset.css');
body {
    font-family: Inter;
    font-size: 18px;
    line-height: 1.6;
}
.contact_us_outer_box {
    background-color: #ED4545;
    padding:50px 0;
    float: left;
    width: 100%;
}

.contact_us_inner_box {
margin: 0px auto;
max-width: 1024px;
}

.contact_us_intro {
float: left;
width: 60%;
padding-right: 20px;
box-sizing: border-box;
color: white;
}

.contact_us_intro h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}
.contact_us_intro h2 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;

}

.contact_us_intro address {
    margin-bottom: 50px;

}

.contact_us_intro a {
    color: white;
    text-decoration:none;
}

.contact_us_intro a:hover {
    text-decoration: underline;
}


.contact_us_form {
float: left;
width: 40%;
background-color: white;
padding: 25px;
box-sizing: border-box;

}

.contact_us_form h3 {
    font-size: 24;
    font-weight: bold;
    margin-bottom: 25px;

}

.contact_us_form div {
    margin-bottom: 20px;
}

.contact_us_form label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 1;
}

.contact_us_form input[type="text"], .contact_us_form input[type="email"], .contact_us_form textarea  {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #d1cece;
}
.contact_us_form textarea {
    height: 100px;
}

.contact_us_form input[type="submit"] {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 10px;
    padding:20px ;
    background-color: #ED4545;
    box-sizing: border-box ;
    font-weight: 500;
    border: none;
    cursor: pointer;

}

.contact_us_form input[type="submit"]:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(237, 69, 69, 0.8);
}


