@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.intro_banner {
    background-image: url('./images/Rectangle 6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    float: left;
    width: 100%;
    height: 60vh;
    position: relative;
    background-blend-mode: luminosity;
    
    }

    .intro_banner h1 {
        font-size: 48px;
        font-weight: bold;
        width: 360px;
        padding: 30px;
        margin-right: 100px;
        position: absolute;
        color: white;
    
    }

    
    .intro_banner h1 span:nth-child(1) {
        
        font-size: small;
    
    }
    .intro_banner h1 span:nth-child(2) {
        
        font-size: large;
    
    }




 .products {
    position: relative;
    float: left;
    width: 100%;
    top: -200px;
    z-index: 10;
}
.products-inner {
    width: 1038px;
    margin: 0px auto;
}



.product-item {
    width: 306px;
    float: left;
    margin: 0 20px;


}
.product-item img {
    max-width: 100%;
    height: auto;

}
.product-item h3 {
    font-weight: bold;
    margin: 15px 0;
}
.product-item price {
    font-weight: bold;
    font-size: 20px;
}

.helpbox {
width: 50px;
height: 50px;
border-radius: 50%;
position: fixed;
right: 20px;
bottom: 20px;
background-color: white;
z-index: 11;
}

