
div {
    font-weight: bold;
    height: 220px;
    width: 100%;
    border: 3px solid black;
    padding: 50px 70px 50px 70px;
    box-sizing: border-box;
    float:none;
    text-align: center;
    background-color: rgb(244, 211, 226);
}

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: larger;
}

p {
    color: black;
    font-weight: lighter;
    font-style: normal;
    font-style: normal;
    font-size: 18px;
     
}

