@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet');
body {
    background-color: azure;
    color: black;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 50px;


}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}



.form-content {
    
    line-height: 1.2;
    gap: 20px;
}
.course-content {
    display: flex;
    flex-direction: column;
    gap: 1px;
    


}
.courses {
    
    box-sizing: border-box;
    border: 1px solid lightgray;
    background-color: lightgray;
    color: black;
    padding: 10px;
    margin-top: 10px;
    
    
    
}

.courses span {
    width: 100%;
}
input[type="checkbox"] {
    
    
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    
}

    
    

    

input[type="text"] {
    border: 1px solid black;
    padding: 10px;
    flex-basis: 100%;
    font-family: "Inter", sans-serif;

    font-size: 20px;
    

}

.primary-button {
    background-color: black;
    font-size: 20px;
    border-radius: 4px;
    text-wrap: nowrap;
    color: white;
    padding: 10px 15px;
    margin-left: 15px;
    text-decoration: none;
    
    
}
.all {
    margin-top: 15px;
    display: flex;
    justify-content: end;
    gap: 15px;
}
.all button {
    background: none;
    font-size: 20px;
    border: none;
}

