@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: Inter;
    display: flex;
    justify-content: center;
}

.section {
    max-width: 584px;
    width: 100%  
}

h1{
    font-size: 30px;
    margin: 30px 0;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.form_row {
    display: flex;
    gap: 40px;

}

.font_row div {
    flex-basis: calc(50% - 20px);
}

.form_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.form_item label {
    font-size: 14px;
    margin-bottom: 5px;

}

.form_item label span {
    color: red;

}
.form_item input [type="text"],
.form_item input [type="email"],
.form_item input [type="date"],
.form_item select,
.form_item textarea {
    border: 1px solid rgba(101, 100, 100, 50%);
    padding: 5px;
    font-size: 16px;
    font-family: Inter;
}

input[type="submit"],
input[type="reset"] {
    color: black;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}
input[type ="submit"] {
    background-color: #FDCC00;
}

inout[type="reset"] {
    background-color: white;

}
footer {
    gap: 15px;
}
.footer button {
    background: none;
    font-size: 20px;

}

section > form > div > span {
    color: red;
}









