.blur_photo {
    filter: blur(1.5px);
    
}

.bright_photo {
    filter: brightness(50%);
}

.contrast_photo {
    filter: contrast(50%);
}

.drop_shadow {
    filter: drop-shadow(10px 10px 5px rgba(255,0,0,7));

}


.transparent_photo {
    filter: drop-shadow(20px 20px 20px rgba(255,0,0,7));

}

