h2 {
    color: red;
    font-size: 30px;
    transition-property: color, font-size;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

h2:hover {
    color: green;
    font-size: 35px;
}


.box {
    width: 100px;
    height: 100px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1), rgba(0, 255, 0, 1));
    border-radius: 10px;
    transition-property: border-radius, transform;
    transition-duration: 1s, 1s;
    transition-timing-function: ease, ease-in;
    transform: rotate(0deg);
}

.box:hover {
    border-radius: 50%;
    background: linear-gradient(270deg, rgba(255, 0, 0, 1), rgba(0, 255, 0, 1));
    transform: rotate(360deg);
}