@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
font-size: 18px;
font-family: inter;
line-height: 1.6;
}

.contact_us_outer_box{
    background-color: red;
    width: 100%;
    padding: 30px;
    float: left;
}
.contact_us_inner_box{
    max-width: 900px;
}
.contact_us_intro {
    float: left;
    width: 60%;
    color:aliceblue;
    box-sizing:border-box;
    padding-right: 20px;
}
.contact_us_intro h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact_us_intro h2{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 1.2;
}
.contact_us_intro address {
    margin-bottom: 50px;
    text-decoration: none;
}
.contact_us_intro a {
    color: white;
    text-decoration: none;
    line-height: 2;
}
.contact_us_intro a:hover {
    text-decoration: underline;
}
.contact_us_form{
    float:left;
    width: 40%;
    background-color:white;
    box-sizing: border-box;
    padding: 30px;
}
.contact_us_form h3{
    font-size: 24px;
    font-weight:bold ;
    margin-bottom: 25px
}
.contact_us_form label{
    display: black;
    font-size: 15px;
    margin-bottom: 5px;}

    .contact_us_form input[type="text"], .contact_us_form textarea, .contact_us_form input[type="email"]{
        display: block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #D1CECE;
    }
