.box{
    width: 100px;
    height: 100px;
    background-color: red;
}

.box1{
    transform: translate(50px, 50px);
}
.mt-100{
    margin-top: 100px;
}
.vertical-title{
transform: rotate(90deg);
background-color: red;
width: 100px;

}

.box2{
transform: rotate(45deg);

}


.box3:hover {
    transform: scale(110%);
}


.box4 {
    transform: skew(50deg);
}

.box5 {
flex-direction: column-reverse;
flex-shrink: 100;
}
