.container{
    background-color: grey;
    font-size: 50px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    height: 150vh;
    gap: 15px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}
.item{
    padding: 10px;
    box-sizing: border-box;
    background-color: beige;
    height: 200px;
    /*width: calc(25% - (45px/4));*/
}
.item-1{
    order: 5;
    flex-grow: 6;
}
.item-2{
    order: 4;
}
.item-8{
    order: -1;
    flex-shrink: 6;
}
.item-7{
    align-self: flex-start;
}
.item-5{
    align-self: center;
}