.container{
    background-color: grey;
    font-size: 50px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    height: 150vh;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.item{
    padding: 10px;
    box-sizing: border-box;
    background-color: beige;
    height: 200px;
    /*width: calc(25% - (45px/4));*/
}