body {
    height: 100vh;
}

.grid-container {
    grid-template-columns: [first-line] 40px [second-line] 50px [third-line] auto [fourth-line] 50px [fifth-line] 40px;
    grid-template-rows: [row1] 25% [row2] 100px [row3] 1fr [row4];
    display: grid;
    height: 100vh;
    grid-template-areas:
        "logo logo menu . contact"
        "main main main sidebar sidebar"
        "footer footer footer footer footer";
}

.logo {
    background-color: aqua;
    grid-area: logo;

}

.menu {
    background-color: brown;
    grid-area: menu;
}

.contact {
    background-color: blueviolet;
    grid-area: contact;
}

.main {
    background-color: orange;
    grid-area: main ;
}

.sidebar {
    background-color:magenta;
    grid-area:sidebar ;
}


.footer {
    background-color:yellowgreen ;
    grid-area: footer;
}