.container{
   background-color: #333;
   font-size: 50px;
   display: flex;
   padding: 20px;
   flex-direction:row;
gap: 15px;
flex-wrap:nowrap;
justify-content:space-around; 
flex-direction: row;
height: calc(150vh);
justify-content: center;
align-items: flex-end;
align-content: center;
}
.item{
    background-color: aliceblue;
    padding: 10px;
    box-sizing: border-box;
    height: 200px;
   flex-basis:20% ;
     /* width: calc(25% - (45px/4)); */
   
 


}
.item_1{
    order: 3;
    flex-grow: ;
    flex-shrink: 10;
}
.item_8{
    order: -1;
    flex-shrink: 20;
}
.item_7{
    align-self:flex-start;
}