
.grid-container {
    display: grid;
    grid-template-columns: [first-line] 40px [second-line] 50px [third-line] auto [fourth-line] 50px [fifth-line] 40px;
    grid-template-rows: [row-1] 25% [row-2] 100px [row-3] auto;
    height: 100vh;
    grid-template-areas: 
    "logo logo menu . contact"
    "main main main sidebar sidebar"
    "footer footer footer footer footer"
    ;

}

.logo {
    background-color: red;
    grid-area: logo;
}

.menu {
    background-color: gray;
    grid-area: menu;
}

.contact {
    background-color: blueviolet;
        grid-area: contact;
    }

.sandhya {
    background-color: yellowgreen;
    grid-area: main;
}

.aryal{
    background-color: aliceblue;
    grid-area: sidebar;
}

.hello{
    background-color: blue;
    grid-area: footer;
}