.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    justify-items: center;
    align-items: center;
    background-color: gray;
    justify-content: center;
    height: 100vh;
    align-content: end;
}

.item {
    width: 80px;
    height: 80px;
    border: 1px solid #000;

}

.item1 {
    background-color: blue;
    border-radius: 50%;
    grid-area: 2 / 3 / 4 / 5;
    width: 200px;
    height: 200px;

}

.item15 {
    background-color: red;
    border-radius: 50%;
    grid-area: 3/ 4 / 4 / 5;
    
}

