h1 {
    font-size: 50px;
    color: rgb(19, 18, 18);
}
h2 {
    font-size: 30px;
    color: chocolate;
}
#main-heading {
    text-transform: uppercase;
}
#intro-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
img{
    border-radius: 50%;
}
.img-2{
    border-radius: 20%;
   
}
.img-3{
     background-color: brown;
}