Inline:

style= "background-color: gray;">
    <h1 style="font-size: 50px; color: green; text-align: center;">Inline CSS</h1>
    <p> Inline CSS  in written wirthin html tags</p>
    <ul style="background-color: coral;">
        <li style="color: beige;">Monday</li>
        <li style="color: aquamarine;">Tuesday</li>
        <li style="color: azure;">Wednesday</li>
    </ul>



Internal
<style>
h1 {
    font-size: 50px;
    color: green;
}

h2 {
    font-size: 30px;
    color: red;
}
#main-heading {
    text-transform: uppercase;
}

.intro_text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

img {
    border-radius: 50%;
}
.side_image{
    border-radius: 20%;
}
.img_with_bg{
    background-color: aqua;
}

</style>


External::after