/*
Author:Sandhya Aryal
Email:sandhyaaryal777@gmail.com
Copyright: Skillup Labs
Last updated: 5th April 2024
*/
* {
    margin:0;
    Padding:0;
}
h1{
    font-size:100px;
    color:brown
}
h2{
    font-size:50px;
    color:blue;
}
h3{
    font-size: 30px;
}
#special_heading {
    color:aqua;
    text-decoration: underline;
}
.danger_text {
    color: red;
    font-style: italic;
}
input [type="text"] {
    border: 1px solid red;
}
input[value="Submit"] {
    background-color: green;
}
input[value="Reset"] {
    background-color:yellow;
}
input[type="button"] {
    font-size:25px;
}
input{
    padding: 15px;
}
h1,h2,h3,h4,h5,h6,input,button{
    text-transform:uppercase;
}
input[type="search"]:hover,
input[type="text"]:hover,
input[type="button"]:hover,
button:hover {
    background-color: red;
    font-weight: bold;
}
input[type="text"]:focus {
    border:5px solid red;
    outline: none;
}
.no_color {
    color: pink !important
}
input[type="search"] {
    font-size: 30px;
    padding: 15px;
    border: none
    box-shadow:
    position:display;
    top: 15px;
    right: 15px;
}
.fancy_text::before {
    content:"+";
    display:inline-block;
    border: 1px solid red;
    width: auto;


.fancy_text::after {
    content:"+";
    display:  inline-block;
    border:1px solid red;
    width:16px;
    height: 16px;
    border-radius: 30%;

.fancy_text::


}
.file_picker::file-selector-button {
    font-size:30px;
    background-color: 30px;

}

    



    
}