/* 
Author: Nabin Singh
Email: nabin.singh@skilluplabs.com.au
Copyright: Skillup Labs
Last updated: 5th April 2024
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tac+One&display=swap');

* {
    margin: 0;
    padding: 0;
    color: skyblue;
    font-family: Roboto;
}

h1 {
    font-size: 100px;
    color: #d33a2d;
    font-family: "Tac One";
    text-align: center;
}

h2 {
    font-size: 50px;
    color: blue;
}

h3 {
    font-size: 30px;
    color: aquamarine;
}

h3#special_heading {
    color: aqua;
    text-decoration: underline;
}

h3.danger_text {
    color: red;
    font-style: italic;
}

input[type="text"] {
    border: 1px solid red;
    display: block;
    margin: 10px 0;
}

input[value="Submit"] {
    background-color: green;
}

input[value="Reset"] {
    background-color: yellow;
}

input[type="button"] {
    font-size: 25px;
}

input.submit_btn {
    color: aqua;
}

input[placeholder="Enter your email address"] {
    border: 2px solid greenyellow;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
    text-transform: uppercase;
}

input[type="button"]:hover,
button:hover {
    background-color: red;
    font-weight: bold;
}

input[type="text"]:focus {
    border: 5px solid red;
    outline: none;
}

.no_color {
    color: black !important;
}

.main_container {
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}

input[type="search"] {
    font-size: 30px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border: none;
    position: absolute;
    top: 15px; 
    right: 15px;
}

button:disabled {
    background-color: ghostwhite;
    opacity: 0.1;
    color: gray;
}

.fancy_text::after {
    content: " ";
    display: inline-block;
    border: 1px solid red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.fancy_text::first-letter {
    font-size: 40px;
    font-weight: bold;
}