h1 {
    font-size: 100px;
    color: brown;
}

h2 {
    font-size: 50px;
    color: blue;
}

h3 {
    font-size: 30px;
}

#special_heading {
    color: aqua;
    text-decoration: underline;
}

.danger_text {
    color: red;
    font-style: italic;
}

input[type="text"] {
    border: 1px solid red;
}