h1{font-size: 100px;
    color: brown;

}
h2{
    font-size: 50px;
    color: blue;
}
#special_heading{
    color: aqua;

}
.Danger1{
    font-style: italic;
    color: red;
}
input[type="text"]{
    border: 1px solid red
}
input[value="Submit"]{
    background-color: green;
    
}
input[value="Reset"]{ 
    background-color: yellow;
}
input[type="button"]{
    font-size: 25px;
}
input{
    padding: 15px;
}