@font-face {
    font-family: mija;
    src: url('/css/assets/font/Mija_Bold-webfont-subset-v2.woff2');
}



h1{
    font-size: 5vw;
    font-family: mija, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 10px;
    word-spacing: 100px;
    text-shadow: 5px 4px 6px;
    text-transform: uppercase;
    
    
}

h1 span:nth-child(1){
    color: red;
    font-family: mija;
    font-style: italic;
    text-decoration:wavy;
    
}
h1 span:nth-child(2){
    color: green;
    font-family: cursive;
    text-decoration:underline;
    
}
p{
    font-size: 18px;
    line-height: 1.6em;
    text-decoration: underline;

}





