h1{
    font-size: 100px;
    color: brown;
}
/* Author: Akash Yadav
Email: yadavakash2060@gmail.com
Copyright:Skillup Labs
Last Updated: 5th April 2024 */

h2{
    font-size: 50px;
    color: blue;
}
#special_heading{
    color: aqua;
    text-decoration: underline;
}

.danger_text{
    color: red;
    font-style: italic;

}
input[type="text"]{
    border: 1px solid red;
}

input[value="submit"]{
    background-color: green;
}
input[value="Reset"]{
    background-color: yellow;
}
input[type="button"]{
    font-size: 25px;
}
input{
    padding: 15px;
}