@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url(./reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

body {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    color: rgb(20, 12, 28);
}
.header-wrapper{
    padding: 15px 0;
    font-size: 15px;
    font-weight: 500;
}
.header-inner{
    display: flex;
    align-items: center;
    gap: 35px;
}
.header-inner a{
    text-decoration: none;
    color: #2A1454;
}
.header-inner a:hover{
    color: rgb(135, 80, 247);
}
.header-inner nav{
    flex-grow: 2;
}

.header-inner nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
 }
 .header-inner nav ul a{
    display: inline-block;
    padding: 15px 0;
    position: relative;
 }
 .header-inner nav ul a span{
    display: inline-block;
    height: 2px;
    width: 0;
    margin-top: 4px;
    background-image:linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%); 
    position: absolute;
    bottom: 10px;
    left: 0;
    transition-property: width;
    transition-duration: 100ms;
    transition-timing-function: linear, ease-in-out;
 }
 .header-inner nav ul a:hover span{
    width: 100%;
 }
 .header-inner nav ul a:hover{
    color: #2A1454;
 }
 .header-inner img{
    width: 60px;
    height: 60px;
 }
 a.header-btn{
    display: inline-block;
    background-image:linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%); 
    padding: 17px 35px;
    border-radius: 50px;
    color: white;
 }
 a.header-btn:hover{
    color: white;
    background-image:linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%); 
    transition: 0.5s;
 }
 .hamburger-menu{
    display: none;
 }

 .site-content .intro-text svg{
 position: absolute;
 width: 100%;
 height: 100%;
 left: 46%;
 top: 55%;
 transform: translate(-50%, -50%) scale(1);
 display: flex;
 align-items: center;
 justify-content: center;
 animation: 3s pulsate infinite alternate ease-in-out;
 z-index: -1;
 }
 @keyframes pulsate{
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    50%{
        transform: translate(-50%, -50%) scale(1.05);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
    }
 }
 .site-content .intro-text svg text{
    stroke: #8750f7;
 }
 .animate-stroke{
    font-size: 200px;
    font-weight: normal;
    opacity: 0.2;
    animation: stroke 4s;
    text-transform: uppercase;
 }
 text{
    color: white;
 }
 @keyframes stroke{
    0%{
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 1;
    }
    100%{
        stroke-dashoffset: 100%;
        stroke-dasharray: 100% 0;
        stroke-width: 1;
    }
 }
 .container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
 }

 .inner-container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
 }
 
 .introduction{
flex-grow: 2;
flex-basis: 50%;
display: flex;
flex-direction: column;
justify-content: center;
gap: 20px;
 }
 .introduction span{
    font-size: 35px;
    font-weight: 800;
 }
 .introduction p{

    line-height: 1.4;
    font-weight: normal;
    font-size: 26px;
}
 .introduction h1{
    font-size: 60px;
    font-weight: 900;
    background-image: linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: repeat;
    line-height: 1.1;
 }
 .image-container{
    flex-basis: 50%;
    display: flex;
    align-self: flex-end;

 }
 .inner-container  img{
   max-width: 500px;
   max-height: 500px;
   margin: 30px;
   border-radius: 30px;
   transform: rotate(4.29deg);
   position: relative;
   transition: 0.4s;
 }
 .inner-container  img:hover{
    transform: rotate(0deg);
    transition: 0.4s;
    border: 2px solid #8750f7;
    box-shadow: 8px 8px 8px 10px #888888;
 }


.button-box{
    display: flex;
    gap: 50px;
}
.btn{
   background-color: white;
    padding: 17px 35px;
    border-radius: 50px;
    color: #8750f7;
    display: flex;
    gap: 10px;
    border: #8750f7 1px solid;
 }
 .btn:hover{
    background-image:linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%); 
    color: white;
    transition: 0.3s;
 }
 .button-box a{
    text-decoration: none;
 }


.button-box ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.button-box ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #8750f7;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #8750f7;
}
.icon:hover{
    background-color: #8750f7;
    transition: 0.3s;
    transition-timing-function: ease-out;
    color: white;
}
.about-me{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 85%;
    justify-content: center;
    gap: 60px;
}
.info-me{
    display: flex;
    padding: 70px 20px;
    box-sizing: border-box;
    gap: 10px;
    width: 250px;
    align-items: center;
}
.amount{
    font-size: 50px;
    color: #8750f7;
    font-weight: 600;
}
.description{
    font-size: 19px;
    color: #8750f7;
    font-weight: 400;
}

.services-wrapper{
    background-color: rgb(246, 243, 252);
   

}
.services-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    box-sizing: border-box;
    padding-left: 90px;
    padding-right: 90px;
    flex-wrap: wrap;
}
.services-inner h2{
    font-size: 50px;
    font-weight: 700;
    background-image: linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: repeat;
    line-height: 1.1;
    margin-bottom: 15px;

}
.services-inner p{
    width: 650px;
    text-align: center;
    margin-bottom: 40px;
}
.services{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    align-items: center;
}
.services-list{
    display: flex;
    gap: 110px;
    padding: 35px 30px;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom:1px solid rgba(42, 20, 84, 0.2);
}
.services-list:hover{
    background-image: linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%);
    color: white;
    transition: 0.3s ease-in-out ;
}
.services-name{
    display: flex;
    gap: 15px;
    flex-grow: 2;
    flex-basis: 40%;
    align-items: center;
}
.services .services-list i{
    transform: rotate(45deg);
    font-size: 20px;
    color: #8750f7;
    transition: 0.3s;
}
.services-list:hover i{
    transform: rotate(-45deg);
    transition: 00.3s ease-in;
    color: white;
}
.services .services-list .services-name .number{
    font-size: 20px;
    font-weight: 650;
    color: #8750f7;
}

.services .services-list .services-name .name-service{
    font-size: 30px;
    color: #8750f7;
    font-weight: 700;
}
.services-list:hover .name-service span{
    color: white;
    transition: 0.3s ease-in-out;
}
.services .services-list:hover .number{
    color: white;
    transition: 0.3s ease-in-out;
}
.services .services-list .service-description{
    font-size: 18px;
    color: #2A1454;
}
.my-work{
    display: flex;
    justify-content: center;
}
.my-work .work-inner{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;

}
.my-work .work-inner h2{
    font-size: 50px;
    font-weight: 700;
    background-image: linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: repeat;
    line-height: 1.1;
    margin-bottom: 15px;
}
.resume{
    background-color: rgb(246, 243, 252);

}
.resume-inner{
display: flex;
flex-direction: row;
justify-content: center;
padding-top: 120px;
box-sizing: border-box;
padding-bottom: 120px;



}
.resume-inner-wrapper{
    width: 80%;
    display: flex;
    gap:100px;
    justify-content: center;
    
}
.resume-inner-wrapper .text{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: flex-start;
}
.experience,.education{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.resume-inner-wrapper h2{
    font-size: 45px;
    font-weight: 700;
    background-image: linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: repeat;
    line-height: 1.1;
    margin-bottom: 15px;
}
.education .text h2, .experience .text h2{
    margin-bottom: 50px;
}
.resume-inner-wrapper i{
    font-size: 30px;
    color:#8750f7;
    fill: #8750f7;
}
.explist{
    background-color: white;
    padding: 10px;  
    padding-right: 100px;
    box-sizing: border-box; 
    border-radius: 30px;
}
.explist h3,.explist h4,.explist p{
    margin: 15px;
}
.explist h3{
    font-size: 18px;
    font-weight: 700;
    color: #8750f7;
}
.explist h4{
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}
.explist:hover{
    background-image:linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%) ;
    color: white;
    transition: 0.3s ease-in-out;
}
.explist:hover h3{
    color: white;
    transition: 0.3s ease-in-out;
}
.my-skills{
    display: flex;
    justify-content: center;
}
.skills-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;

}
.skills-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    width: 100%;
}
.skills-text p{
    text-align: center;
}
.my-skills .skills-inner h2{
    font-size: 45px;
    font-weight: 700;
    background-image: linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: repeat;
    line-height: 1.1;
    margin-bottom: 15px;
}
.skill-item-list{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 50px;

}
.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.skill-item p{
    color: #8750f7;
}

.skill-inner{
    width: 180px;
    height: 180px;
    background-color: rgb(246, 243, 252);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
 -webkit-filter: grayscale(90%);
 filter: grayscale(90%);
   

}
.skill-inner:hover{
    background-color: #2A1454;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 0.3s ease-in-out;

}
.skill-inner:hover img{
    transform: scale(120%);
    transition: 0.3s ease-in-out;
}
.skill-inner:hover .number{
    color: #8750f7;
}
.skill-inner .number{
    font-weight: 800;
    font-size: 20px;
}
.icon-box{
    width: 50px;
    height: 50px;
    
}
.skill-inner .icon-box img{
    width: 100%;
    height: 100%;
}



p {
    line-height: 1.4;
}

.contact-wrapper {
    background-color: rgb(246, 243, 252);
    padding: 60px 12px;

}

.contact-info {
    display: flex;
    flex-direction: column;


}

.contact-info-row {
    display: flex;
    gap: 7px;
    margin-bottom: 40px;

}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(161deg, rgb(42, 20, 84) 0%, rgb(135, 80, 247) 100%);
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

.contact-label {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100%-50px);

}

.contact-label .info {
    font-size: 18px;
    font-weight: 500;
    color: rgb(42, 20, 84);

    

}

.contact-label .info a {
    color: rgb(42, 20, 84);
    text-decoration: none;
    
}

.contact-label .info a:hover {
    color: rgb(135, 80, 247);
}

.contact-form {
    background-color: white;
    padding: 30px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;



}

.contact-form h2 {
    font-size: 30px;
    font-weight: 900;
    background-image: linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: repeat;
    line-height: 1.1;

}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    border: 1px solid rgb(42, 20, 84);
    border-radius: 8px;
    padding: 14px 20px;

}

input[type="submit"] {
    padding: 20px 35px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(135, 80, 247) 0%, rgb(42, 20, 84) 100%);
    border: none;
    width: 200px;
}

@media screen and (min-width:800px) {
    .contact-inner {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        align-items: center;

    }

    .contact-info,
    .contact-form {
        flex-basis: 50%;
        box-sizing: border-box;
    }

    .contact-form {
        display: flex;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        display: flex;
        flex-basis: 50%;
        gap: 10px;

    }

}

@media screen and (min-width:1000px) {

    .contact-form form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;




    }

    .contact-form form input:nth-child(1),
    .contact-form form input:nth-child(2),
    .contact-form form input:nth-child(3),
    .contact-form form input:nth-child(4) {

        display: flex;
        flex-basis: calc(50% - 5px);
        box-sizing: border-box;
        gap: 10px;
        flex-direction: row;


    }

    .contact-form form select,
    .contact-form form textarea {
        flex-basis: 100%;

    }

}

@media screen and (min-width:1200px) {
    .page-wrapper {
        display: flex;
        justify-content: center;
       
    }
    .page-inner{
        max-width: 1200px;
        width: 100%;

       
    }
    .contact-label .info{
        width: 250px;
    }
}

 @media screen and (max-width:990px) {
    .header-inner nav{
        display: none;
        position: absolute;
        background-color: rgb(42, 20, 84);
        top: 94px;
        left: 0px;
        right: 0px;
    }
    .header-inner nav ul{
        flex-direction: column;

    }
    .header-inner nav ul li a{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
    }
    .header-inner nav ul li a:hover span{
        display: none;
    }
    .header-inner nav ul li a:hover{
        color: white;
    }

    .hamburger-menu{
        display: block;
        border: none;
        background-color: none;
        font-size: 30px;
        color: rgb(135, 80, 247);

    }
    .header-mail{
        flex-grow: 2;
    }
    
 }
 @media screen and (max-width:767) {
    .header-mail{
        display: none;
    }
    
 }
 .footer-wrapper{
    background-color: #2A1454;
    display: flex;
    justify-content: center;
 }
 .footer-inner{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 60px;
 }
 .footer-nav ul{
    display: flex;
    gap: 60px;
 }
 .footer-inner .footer-logo{
    height: 75px;
    width: 75px;
    margin-bottom: 30px;
 }
 .footer-inner .footer-logo img{
    width: 100%;
 }
 .footer-inner .footer-nav ul li a{
    text-decoration: none;
    color: white;
    
 }
 .footer-inner .footer-nav{
    margin-bottom: 20px;
 }
 .footer-message{
    display: flex;
    gap: 10px;
    align-items: center;
 }
 .footer-message i{
    font-size: 12px;
 }
 .footer-message i, .footer-message p{
    color: #8750f7;
 }
